.container{
  padding: 0%;
  border-radius: 10%;
}
.carousel-inner{
  height:auto;
  width:auto;
  max-height: 400px;
}
.carousel-caption{
  margin-bottom: 0px;
}
.carousel-caption h4{
  font-size: 50px;
}
.carousel-caption p{
  font-size: 20px;
  font-weight: 300;

}
